navbar {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 30px 10%;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    flex-direction: row;
}

.navlink {
    margin: 0px 3vw;
    font-size: 1.2rem;
    color: #bd93f9;
    
    display: inline-block;
    position:relative;
    transition: color 0.5s ease-in-out;
}

.navlink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8be9fd;
    transform-origin: bottom right top left;
    transition: transform 0.5s ease-in-out, background-color 0.25s ease-in-out;
}

.navlink:hover:after {
    transform: scaleX(1);
    transform-origin: top left;
    background-color: #ff5555;
    
}
.navlink:hover {
    color: #e2ceff;
}

a {
    text-decoration: none;
}

a.active {
    font-weight: bold;
}