---
---

<div>
    <a href={Astro.props.link}>
        <!-- <img src={Astro.props.image} alt="" width="200"> -->
        <h1><span class="grad">{Astro.props.title}</span></h1>
        <p>{Astro.props.description}</p>
    </a>
</div>

<style>
    div a{
        background: #252633;
        margin-top: 20px;
        width: 35vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border-radius: 0;
        
        transition: transform 0.4s ease-in-out, border-top-left-radius 0.5s ease-in-out,
        border-top-right-radius 1s ease-in-out, border-bottom-left-radius 1.5s ease-in-out,
        border-bottom-right-radius 2s ease-in-out;
    }

    a:hover {
        transform: translateY(-5px);

        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    h1 {
        text-align: left;
        margin-left: 30px;
        max-width: 20vw;
    }
    /* img{
        margin-bottom: 20px;
    } */
    p {
        color: #f8f8f2;
        font-weight: 500;
        text-align: right;
        margin-right: 20px;
    }
</style>