---
import NavLink from "./NavLink.astro";
import '../styles/navbar.css'
---

<navbar>
    <h1><a href="/" class="grad">matees.net</a></h1>

    <nav class="navlinks">
        <NavLink class="navlink" href="/about">About</NavLink>
        <NavLink class="navlink" href="/blog">Blog</NavLink>
        <NavLink class="navlink" href="https://github.com/maytees">Github</NavLink>
        <NavLink class="navlink" href="https://secret.matees.net">Secret</NavLink>
    </nav>
</navbar>

<style>
</style>
